/* Basic Resets */
body, h1, p, ul, li, button {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
}

/* Header Styling */
header {
    background-color: #151f29; /* Dark shade of blue */
    color: white;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures header stays on top of other elements */
}

.nav-toggle {
    display: none;
    background-color: #151f29;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

.nav-wrapper ul {
    display: flex;
    align-items: center;
}

.nav-wrapper ul li {
    margin: 0 30px;
    font-size: 20px;
}

.nav-wrapper ul li a {
    color: white;
    text-decoration: none;
}