/* Basic Resets */
body, h1, p, ul, li, button {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
}

/* Header Styling */
header {
    background-color: #151f29;
    color: white;
    padding: 35px 10%; /* Adjusted padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-toggle {
    display: none;
    background-color: #151f29;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 20px; /* Adjusted position */
}

.nav-wrapper ul {
    display: flex;
    align-items: center;
}

.nav-wrapper ul li {
    margin: 0 30px;
    font-size: 20px;
}

.nav-wrapper ul li a {
    color: white;
    text-decoration: none;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .nav-toggle {
        display: block;
    }

    #navLinks {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-wrapper ul li {
        text-align: center;
        width: 100%;
    }

    header {
        flex-direction: column;
        padding: 35px; /* Adjusted padding */
    }
}

/* Hero Section Styling */
.hero-section {
    background-image: url('Home page.png');
    background-repeat: no-repeat;
    background-position: center top; /* Move the image up */
    background-size: cover;
    height: calc(100vh - 100px); /* Adjusted for header height */
    display: flex;
    align-items: flex-start; /* Aligns content to the top */
    justify-content: center;
    color: white;
    text-align: center;
    padding-top: 90px; /* Adds padding to push content down from the top */
}

.hero-content {
    margin-top: 10px; /* Additional margin to create a gap under the menu */
    position: relative;
    z-index: 2;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4); /* Darker overlay */
    z-index: 1;
}

.hero-content h1 {
    font-size: 3.8em;
    margin-bottom: 0.4em;
}

.hero-content p {
    font-size: 1.5em;
    margin-bottom: 1em;
}

/* Button Styling */
button {
    padding: 10px 20px;
    background-color: #3498db;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .hero-section {
        background-size: cover;
        padding-top: 120px; /* Adjust padding for very small screens */
    }

    .hero-content h1 {
        font-size: 2em;
    }

    .hero-content p {
        font-size: 1.2em;
    }

    .nav-toggle {
        display: block;
        position: absolute;
        left: 10px;
        top: 20px; /* Adjusted position */
    }

    #navLinks {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-wrapper ul li {
        text-align: center;
        width: 100%;
    }

    header {
        flex-direction: column;
        padding: 35px; /* Adjusted padding */
    }
}

/* About Section Styling */
.about-section {
    background-color: #f4f4f4;
    padding: 60px 10%;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.about-content h2 {
    font-size: 2.5em;
    margin-bottom: 60px;
}

.about-content p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 60px;
}

.about-rocket {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 50px auto;
}

/* Project Section Styling */
.project-section {
    text-align: center;
    padding: 60px 10%;
}

.project-title {
    font-family: Arial, sans-serif;
    font-size: 2.5em;
    margin-bottom: 30px;
}

.project-descriptions {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    margin-bottom: 20px;
}

.project-descriptions p {
    margin: 0;
    padding: 0;
}

.projects-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.project {
    width: 100%;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project p {
    margin-bottom: 20px;
}

.project a.button {
    display: block;
    width: 15%;
    margin: 0 auto;
    padding: 10px 0;
    background-color: #3498db;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.project a.button:hover {
    background-color: #2980b9;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .project a.button {
        width: 50%;
        padding: 15px 0;
    }
}

/* Contact Section Styling */
.contact-section {
    padding: 90px 10% 30px; /* Adjusted padding to move the contact section down */
    background-color: #fff;
}

.contact-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.contact-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.contact-content form {
    margin-top: 20px;
}

.contact-content input,
.contact-content textarea {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
}

.contact-content button {
    margin-top: 20px;
    width: 100%;
}

.image-container {
    text-align: center;
    margin: 10px 0;
}

.circular-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
    font-size: 0.8em;
}

textarea {
    height: 150px;
}

/* Ensure smooth scrolling to anchor links */
html {
    scroll-behavior: smooth;
}
